<!DOCTYPE html>
<html lang="en">
<head>
	<title>Website Template Design in HTML & CSS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="">
            </div>  
            <div class="menubar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Photo Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div>
            <div class="login"><botton class="myBtn">Login</botton></div>
        </div>


        <div class="banner">
            <div class="app-text">
                <h4>Airbnb for watching</h4>
                <h1>Manage Adventures</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ex labore nemo. Sapiente praesentium obcaecati explicabo minima quas? Odio, blanditiis rerum. Architecto libero, accusantium voluptatem iusto distinctio magnam neque iure.</p>
                
                <div class="btn-group">
                    <div class="signup-btn">Sign up now</div>
                    <div class="play-btn">                        
                        <div class="play-btn-inner">
                            <i class="fa fa-solid fa-play"></i>
                        </div>
                        <span>How it works</span>
                    </div>
                    
                </div>
            </div>
            <div class="app-picture">
                <img src="images/10.jpg" alt="">
            </div>
        </div>
        
    </div>
</body>
</html>